div{
    background-color: white;
    width: 800px;
    height: 105;
    margin-bottom: 20px;
    display: inline-block;
    margin: 0;
}
img{
    width: 800px;
    height: 800px;
    margin-bottom: 20px;
    margin: 0;
}
h2{
    background: white;
    margin-bottom: 15px;
    width: 800px;
    display: inline-block;
    margin: 0;
}
body{
    background: oklch(37.9% 0.146 265.522);
    color: green;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;

}
a{
    background: white;
    width: 800px;
    height: 40px;
    margin-bottom: 15px;
    display: inline-block;

}
h1{
    background: white;
    margin-bottom: 15px;
    width: 800px;
    display: inline-block;
    margin: 0 auto;
}