.titulo_dois{
    margin-bottom: 15px;
    width: 800px;
    display: inline-block;
    margin: 0;
}
body{
    background: #7dd3fc;
    color: #1e40af;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;

}

div{
    background-color: #ceefff;
    width: 800px;
    height: 105;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-inline: auto;

}


img{

    width: 800px;
    margin-bottom: 20px;
    margin: 0;

    
}
a{
    background: rgb(255, 255, 255);
    width: 800px;
    height: 40px;
    margin-bottom: 15px;
    display: inline-block;

}
.titulo{
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
    width: 800px;
    display: inline-block;
    margin: 0 auto;
}